@import "./styles.scss";

.home-container{
  display: block;
  box-sizing: border-box;
}

.home{
  padding: 0 5.5rem;

  @media only screen and (max-width: $breakPoint){
    padding: 0 2rem;
  }
}

.home-left{
  isolation: isolate;

  @media only screen and (max-width: $breakPoint){
    text-align: center;
  }
}

.left-svg{
  position: relative;
  margin-top: 3rem;
  z-index: -90;
  transform: scale(0.7);
  fill: $orange;
  left: 5rem;

  @media only screen and (max-width: $breakPoint){
    left: 0
  }
}

.left-text {
  position: relative;
  width: 100%;
  height: 15rem;
  z-index: -50;
  margin-top: -20rem;
  @media only screen and (max-width: $breakPoint){
    margin-top: -10rem;
  }
  /*margin-top: 20rem;*/
  color: black;
 /* mix-blend-mode: saturation;*/
}


.left-text svg{
  width: 100%;
  height: 100%;
}

.text-title{
  @extend .h1;

  @media only screen and (max-width: $breakPoint){
    font-family: $Ubuntu;
    font-size: 1.875rem;
  }
}

.text-subtitle{
  @extend .h3;
  margin-top: 1.5rem;

  @media only screen and (max-width: $breakPoint){
    font-family: $Lato;
    font-size: 1.25rem;
  }
}

.button {
  @extend .button-base;
  position: relative;
  z-index: 50;
  margin-top: 3rem;

  @media only screen and (max-width: $breakPoint){
    margin-top: -3rem;
  }
}

.home-right {
  text-align: right;
}


.right-persona {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  margin-top: 10rem;
  position: relative;
  z-index: 90;
}

.right-persona img {
  width: 100%;
  height: auto;
}

.home-svg-left{
  position: absolute;
  transform: rotate(90deg) scale(0.2);
  fill: $grey3;
  margin-top: -45rem;
  left: -45rem;
}

.home-svg-right{
  position: absolute;
  transform: rotate(90deg) scale(0.2);
  fill: $grey3;
  margin-top: -45rem;
  right: -45rem;
}

.home-container>div{
}
