@import "./styles.scss";

.home-container{
  display: block;
  box-sizing: border-box;
}

.home{
  padding: 0 5.5rem;
}

.home-left{
  isolation: isolate;
}

.left-svg{
  position: relative;
  margin-top: 3rem;
  z-index: -90;
  transform: scale(0.7);
  fill: $orange;
  left: -10rem;
}

.left-text {
  position: relative;
  width: 100%;
  height: 15rem;
  z-index: -50;
  margin-top: -20rem;
  color: black;
  mix-blend-mode: saturation;
}


.left-text svg{
  width: 100%;
  height: 100%;
}

.text-title{
  @extend .h1;
}

.text-subtitle{
  @extend .h3;
  margin-top: 1.5rem;
}

.button {
  @extend .button-base;
  position: relative;
  z-index: 50;
}

.home-right {
  text-align: right;
}


.right-persona {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  margin-top: 15rem;
  position: relative;
  z-index: 90;
}

.right-persona img {
  width: 100%;
  height: auto;
}

.home-svg{
  position: absolute;
}

.home-svg:nth-last-child(3){
  transform: scale(0.2) rotate(90deg);
  left: -45rem;
  top: 0;
  fill: $grey3;
  z-index: -100;
}

.home-svg:nth-last-child(2){
  transform: scale(0.3) rotate(90deg);
  right: -45rem;
  top: -5rem;
  fill: $grey3;
  z-index: -100;
  bottom: 10rem;
}
