@import "./styles.scss";

.team-container{
  display: block;
  box-sizing: border-box;
  padding: 0 6rem;
  margin-top: 7rem;
}

.team-side{
  display: inline-flex;
  position: fixed;
  top: calc(100%/2);
  overflow: hidden;
}

.team-side ul{
  display: inline-block;
}

.team-side li{
  @extend .body2;
  color: $grey1;
  margin-top: 1.5rem;
}

.side-svg {
  width: 1.5rem;
  height: 15rem;
  display: inline-block;
  position: relative;
}

.side-svg line{
  stroke-width: 6;
  stroke-linecap: round;
  stroke: $yellow;
}

.story-main section {
  width: 100%;
  height: auto;
  padding: 1.15rem 0 6rem 0;
}

.story-main section .main-title{
  @extend .h2;
  display: inline-block;

  &::before{
    display: block;
    content: '';
    position: relative;
    z-index: -100;
    top: 2.5rem;
    background-color: $blue;
    width: 105%;
    height: 1.3rem;
    border-radius: 3rem;
  }
}


.story-main section .main-article {
  @extend .body1;
  margin-top: 1.675rem;
}

.cover{
  text-align: right;
}

.cover-img{
  width: 100%;
  max-height: 25rem;
  overflow-y: hidden;
}

.cover-img img{
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: -5rem;
}

.cover-text {
  display: inline-block;
  position: relative;
  width: 50%;
  height: auto;
  text-align: left;
  margin-top: -13rem;
}

.coverText-svg {
  position: relative;
  left: -10rem;
  z-index: 10;
  transform: scale(0.55) rotate(90deg);
  fill: $yellow;
}

.coverText-container {
  display: block;
  position: relative;
  z-index: 80;
  margin-top: -15rem;
}

.coverText-title {
  @extend .h1
}

.coverText-article {
  @extend .body1;
  margin-top: 1.675rem;
}

.members>ul>li{
  border-top: 1px solid $grey2;
  padding: 2.9375rem 1rem;
  background-color: #ffffff;
}

.members-img {
  width: 100%;
  height: auto;
}

.members-img img{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.members-text {
  text-align: center;
}

.members-text p{
  display: inline-block;
}

.members-text p:first-child{
  @extend .h4;
  margin-top: 1.1rem;
}

.members-text p:last-child{
  @extend .body1;
  color: $grey1;
  margin-top: 0.5rem;
}

.members-intro {
  @extend .body1;
  padding-left: 2rem;
}

.members-link {
  display: block;
  width: 100%;
  text-align: right;
}

.members-link li{
  display: inline-flex;
  margin-left: 1.7rem;
  margin-top: 3.5rem;
  cursor: pointer;
}

.members-link li span{
  @extend .body1;
  color: $grey1;
  align-items: center;
  margin-left: 0.5rem;
}

.link-logo {
  display: inline-block;
  width: 1.5rem;
  height: auto;
}

.link-logo img{
  width: 100%;
  height: auto;
  object-fit: contain;
}
